body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eff7f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bgULY {
  position: relative;
  z-index: 1;
  transform: skewY(-2deg);
  transform-origin: center;
}
.bgULY::before {
  position: absolute;
  content: "";
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #fdcc0d;
  z-index: -1;
  transform: translateY(-3px) skewY(-1deg);
  transform-origin: center;
}

.mrginBottom {
  margin: 10px auto 40px !important;
}
